@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap");

:root {
  --main-color: #ffd5c2;
  --second-color: #58a4b0;
  --third-color: #fefeff;
  --text-color: #000000;
  --title-typo: "Dancing Script";
  --main-typo: "Spinnaker";
  --desc-typo: "Overpass";
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>h1 {
  font-family: var(--title-typo);
}

header > .NavButtons {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

header > .NavButtons > button {
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--second-color);
  background-color: var(--third-color);
  clip-path: circle(30%);
}

#profile {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
  background-color: var(--second-color);
  justify-content: space-around;
}

#profile>h2 {
  font-family: var(--title-typo);
  display: flex;
  justify-content: center;
}

#profile > img {
  clip-path: ellipse(33% 50%);
  max-width: 25vw;
  max-height: 15vh;
}

#status {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  padding-left: 1rem;
}

footer {
  background-color: var(--second-color);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status>#Like>button {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  padding: 0rem 0.5rem;
  background-color: var(--second-color);
}

#status>#Like {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  background-color: var(--second-color);
  border: solid 1px var(--third-color);
  border-radius: 0.5rem;
}

#status>#Match>button {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;
  padding: 0rem 0.5rem;
  width: 20vw;
  border-color: var(--second-color);
  background-color: var(--second-color);
}

#status>#Match {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--second-color);
  border: solid 1px var(--third-color);
  border-radius: 0.5rem;
}
#numberMatch {
  padding-right: 0.8rem;
}
#numberLikes {
  padding-right: 0.8rem;
}

/* Matching Profile */

.customizeImg {
  height: 60%;
  width: 95%;
  justify-content: center;
  border-radius: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
}

figure {
  background-color: var(--third-color);
  height: 60vh;
  width: 70vw;
  border-radius: 2.5rem;
  border-color: var(--second-color);
}

h4,
strong {
  color: var(--text-color);
  font-size: 2rem;
  font-family: var(--desc-typo);
  text-align: center;
  border: none;
  margin: 0.3rem;
  font-size: 1.2rem;
}

#petName {
  background-color: var(--second-color);
  border-radius: 0.8rem;
  color: var(--third-color-color);
  font-family: var(--title-typo);
  font-size: 2rem;
  margin: 0.3rem;
  margin-top: 1rem;
}

.petCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  margin-top: 4rem;
}

.infoPetCard {
  border-color: var(--main-color);
  border-radius: 0.8rem;
  text-align: center;
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0rem;
}

figure p {
  color: var(--text-color);
  background-color: var(--main-color);
  border-radius: 0.8rem;
  border-color: #000000;
  font-size: 0.9rem;
  font-family: var(--desc-typo);
  text-align: initial;
  padding: 0.8rem 0.5rem;
  margin: 0.3rem;
}

/* BUTTONS */

.buttons{
  display: flex;
}

.buttons>button {
  /* display: flex; */
  /* flex-direction: row; */
  gap: 2rem;
  justify-content: center;
  padding-left: 2rem;
  /* padding-right: 2rem; */
  padding-bottom: 1.5rem;
  /* padding-top: 0.8rem; */
  /* width: 2.5rem; */
  gap: 1rem;
  justify-content: space-around;
  padding-left: 2.5rem;
  padding-right: 6rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  width: 2.5rem;
  height: 3rem;
}

#nextButton {
  background-color: lightcoral;
  clip-path: circle(40%);
}

#superCroqButton {
  background-color: var(--second-color);
  clip-path: circle(40%);
}

#likeButton {
  background-color: lightgreen;
  clip-path: circle(40%);
}

#likeButton>img {
  width: 3rem;
}