@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Spinnaker&display=swap');

:root{
  --main-color : #FFD5C2;
  --second-color : #58A4B0;
  --third-color : #FEFEFF;
  --title-typo : 'Dancing Script';
  --main-typo : 'Spinnaker';
  --desc-typo : 'Overpass';
}



body {
  width: 100vw;
  height: 100vh;
}

#root{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;  
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}


header{
  width:100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header > h1{
  font-family : var(--title-typo);
}

header > .NavButtons {
  margin: 2rem;
  display: flex;
  width: 35vw;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 0.5rem;
}

header > .NavButtons > button {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--second-color);
  background-color: var(--third-color);
}

#profile{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  background-color: var(--second-color);
}

#profile > h2{
  font-family: var(--title-typo);
  width: 100vw;
  display: flex;
  justify-content: center;

}

#profile > img {
  border-radius: 50%;
  max-width: 35vw;
  max-height: 15vh;
}

#status{
  background-color: var(--third-color);
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}


footer{
  background-color: var(--second-color);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status > #Like > button{
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--second-color);
  background-color: var(--third-color);
}



#status > #Like {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#status > #Match > button{
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--second-color);
  background-color: var(--third-color);
}

#status > #Match{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}